[Unit]
Description=RaspiConfig service for start a api and client
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node /home/pi/raspi-config/node-api/bin/www
User=www-data
Restart=always

[Install]
WantedBy=multi-user.target
